.pageView {
    width: 100vw;
    box-sizing: border-box;
}

.pageView .variableContent {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    max-width: 50vh;
    margin: auto;
    margin-bottom: 2vh;
}

.pageView .page {
    border: 1px solid moccasin;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 1vh;
    margin: 1vh;
}

.pageView .progressBar {
    background-image: none;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    height: 0.5vh;
    margin: 0.5vh;
    padding: 0;
}

.pageView .taskList,
.pageView .completedTaskList,
.pageView .indicatorHolder {
    display: none;
}

.addPage {
    all: unset;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    font-size: 5vh;
}

.addPage:hover {
    color: moccasin;
}

form {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    max-width: 50vh;
}

input {
    all: unset;
    background-color: rgba(0, 0, 0, 0.112);
    width: 13ch;
    padding: 1ch;
    margin: 1vh;
    border-radius: 5px;
    font-size: 2vh;
    max-width: 25vh;
}

.color-checkbox {
    display: none;
}

.color-button {
    all: unset;
    display: inline-block;
    width: 3vh;
    height: 3vh;
    margin: 1vh;
    border-radius: 50%;
}

.color-checkbox:checked+.color-label {
    border-color: #fff;
}