.pageView {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pageView .variableContent {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

}

.pageView .page {
    outline: 1px solid moccasin;
    border-radius: 10px;
    display: flex;
    align-items: center;
    min-width: fit-content;
    height: fit-content;
    padding: 1vh;
    margin: 1vh;
    flex: 1;
}


.pageView .progressBar {
    background-image: none;
    height: fit-content;
    width: 100%;
    border-radius: 2px;
    height: 0.5vh;
    margin: 0.5vh;
    padding: 0;
}

.pageView .taskList,
.pageView .completedTaskList,
.pageView .indicatorHolder {
    display: none;
}

.addPage {
    all: unset;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    font-size: 3vh;
    padding: 1vh;
    margin: 1vh;
}

.addPage:hover {
    color: moccasin;
}

.form {
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    width: 100vw;
}

input {
    all: unset;
    background-color: rgba(0, 0, 0, 0.112);
    width: 15ch;
    height: 3vh;
    padding: 1vh;
    margin: 1vh;
    border-radius: 5px;
    font-size: 2vh;
}

.color-button {
    all: unset;
    width: 2.8vh;
    height: auto;
    aspect-ratio: 1/1;
    margin: 0.8vw;
    border-radius: 50%;
}

.color-button:hover {
    outline: solid moccasin 1px;
}


.pageMenu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.498);
}

/* Modal Content/Box */
.pageMenuContent {
    background-color: var(--mainBg);
    float: right;
    margin: 1vh;
    padding: 1vh;
    outline: solid moccasin 1px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    font-size: min(8vw, 6vh);
    display: flex;
    flex-direction: column;
    text-align: right;
}

.indexItem {
    font-size: min(10vw, 6vh);
}

.indexItem:hover {
    text-decoration: line-through;
}

.pageMenuTitle {
    all: unset;
    font-size: 2vh;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin-bottom: 1vh;
}