:root {
    --mainBg: #1e222d;
    --color1: #C188C1;
    --color2: #87C0AF;
    --color3: #BF9F86;
}

html,
body {
    width: 100vw;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: var(--mainBg);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: aliceblue;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 100vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    position: absolute;
    top: 0;
    align-items: center;
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0.112);
}

.header>* {
    margin: 0 1vh;
}

.doAndTitle {
    margin-top: 5vh;
    font-size: 7vh;
    align-items: center;
    width: 100vw;
    text-align: center;
}

.doThing {
    all: unset;
    display: inline-block;
    color: var(--color1);
}

.listTitle {
    margin: 0;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.constantContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.variableContent {
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.page {
    flex: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: center;
}

.taskList {
    margin-top: 1vh;
    grid-column: 1 / 2;
}

.completedTaskList {
    margin-top: 1vh;
    color: gray;
    grid-column: 2 / 3;
}

.taskList,
.completedTaskList {
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
}

li {
    list-style: none;
    text-indent: 0;
    text-align: center;
    padding: 0;
    display: block;
    font-size: min(3vh, 20px);
    margin: 0.5vh;
    word-wrap: break-word;
    width: fit-content;
    max-width: 90%;
    color: white;
    background-color: #1e222d21;
    border-radius: 20px;
}

.completedTask {
    text-decoration: line-through;
    color: gray;
}

.addTask {
    font-style: normal;
    text-align: center;
    font-size: 3vh;
    padding: 0;
    color: gray;
    cursor: pointer;
}

.task-input {
    text-align: center;
    outline: none;
    font-size: min(3.1vh, 22px);
    width: 90%;
    word-wrap: break-word;
    height: auto;
    padding: 0;
    margin: 0;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10vh;
    position: absolute;
    bottom: 0;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 100vw;
    opacity: 0;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.349);
    text-decoration: overline;
}


.addToCompletedTaskListButton {
    all: unset;
    padding: auto;
    margin: 10px;
    border-radius: 2px;
    background-color: rgb(62, 163, 106);
}

.reveal {
    opacity: 1;
    transition: all 1s ease;
}

.hide {
    visibility: hidden;
}

.dontTouch {
    touch-action: none;
    pointer-events: none;
}

.indicatorHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 0;
    width: 5vw;
}

.pageIndicator {
    font-size: 2vh;
    margin-inline: 1vh;
    padding: 0;
    transition: all 0.5s ease;
    opacity: 0.5;
}

.glow {
    font-size: 4vh;
    transition: all 0.5s ease;
    opacity: 1;
}

.moveLeft {
    transform: translate(-100vw);
    transition: all 1s ease;
    color: var(--color2)
}