:root {
    --mainBg: #1e222d;
    --color1: #C188C1;
    --color2: #87C0AF;
    --color3: #BF9F86;
}

html,
body {
    width: 100vw;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: var(--mainBg);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: aliceblue;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 98vw;
    position: absolute;
    top: 0;
    align-items: center;
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0.112);
}

.doAndTitle {
    margin-top: 2.5vh;
    font-size: 7vh;
    align-items: center;
    width: 100vw;
    text-align: center;
}

.doThing {
    all: unset;
    display: inline-block;
    cursor: pointer;
    color: var(--color1);
}

.listTitle {
    margin: 0;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.constantContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.variableContent {
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.page {
    flex: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: center;
}

.taskList {
    margin-top: 1vh;
    grid-column: 1 / 2;
}

.completedTaskList {
    margin-top: 1vh;
    color: gray;
    grid-column: 2 / 3;
}

.taskList,
.completedTaskList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
}

li {
    list-style: none;
    text-indent: 0;
    text-align: center;
    padding: 0;
    display: block;
    font-size: 3vh;
    margin: 0.5vh;
    word-wrap: break-word;
    width: 90%;
}

.completedTask {
    text-decoration: line-through;
    color: var(--color1);
}

.addTask {
    text-align: center;
    font-size: 3vh;
    color: gray;
    cursor: pointer;
}

.task-input {
    text-align: center;
    outline: none;
    font-size: 3vh;
    width: 90%;
    word-wrap: break-word;
    height: auto;
    padding: 0;
    margin: 0.5vh;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    opacity: 0;
    transition: all 0.5s ease;
}

.dragEnter {
    opacity: 1;
    transition: all 1s ease;
}

.taskDrag {
    visibility: hidden;
}