:root {
    --mainBg: #1e222d;
    --color1: #C188C1;
    --color2: #87b2c0;
    --color3: #BF9F86;
    --color4: #78c18e;
    --color5: #c0bc87;
    --color6: #bf8686;
}

* {
    caret-color: var(--color3);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

html,
body {
    width: 100vw;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--mainBg);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: aliceblue;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    position: absolute;
    top: 0;
    font-size: 2.5vh;
    background-color: rgba(0, 0, 0, 0.112);
}

.header>* {
    margin: 1vh;
}

.progressBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    width: 100vw;
    margin-top: 7vh;
    margin-bottom: 1vh;
    height: 1vh;
    color: #1e222d00;
    border-bottom: solid rgba(0, 0, 0, 0.251) 1px;
}

.doAndTitle {
    display: flex;
    font-size: min(10vw, 6vh);
}

.doColor {
    color: var(--color1);
}

.constantContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.variableContent {
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
}

.page {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.percentageDisplay {
    font-size: 1.5vh;
    margin: 0;
    padding: 2vh;
    align-self: center;
}

.taskList {
    grid-column: 1 / 2;
    min-height: 4vh;
}

.completedTaskList {
    grid-column: 2 / 3;
    padding-bottom: 1vh;
}

.taskList,
.completedTaskList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
}

li {
    list-style: none;
    text-indent: 0;
    text-align: center;
    padding: 0;
    display: block;
    font-size: min(3vh, 35px);
    margin: 0.5vh;
    word-wrap: break-word;
    width: fit-content;
    max-width: 90%;
    color: white;
}

.completedTask {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    color: rgba(255, 228, 181, 0.385);
}

.addTask {
    font-style: normal;
    text-align: center;
    font-size: min(3vh, 35px);
    color: moccasin;
    cursor: pointer;
}

.task-input {
    text-align: center;
    outline: none;
    font-size: min(3vh, 35px);
    width: 90%;
    word-wrap: break-word;
    padding: 0;
    margin: 0.5vh;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addToCompletedTaskListButton {
    all: unset;
    padding: auto;
    margin: 10px;
    border-radius: 2px;
    background-color: rgb(62, 163, 106);
}

.reveal {
    opacity: 1;
    transition: all 1s ease;
}

.hide {
    visibility: hidden;
}

.dontTouch {
    touch-action: none;
    pointer-events: none;
}

.indicatorHolder {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    padding: 0;
    height: 3vh;
    white-space: nowrap;
}

.pageIndicator {
    padding: 0;
    transition: all 0.5s ease;
    opacity: 0.1;
    display: inline-block;
}

.glow {
    transition: all 0.5s ease;
    opacity: 1;
    display: inline-block;
}

.moveLeft {
    transform: translateX(-100vw);
    transition: all 1s ease;
    color: var(--color2)
}